<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" >
<head>
    <meta charset="UTF-8">
    <title>Controle de Vendas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .endereco-box{
        background-color: #eceff1; /* Tom de cinza mais escuro */
        border-radius: 8px; /* Bordas arredondadas */
        padding: 12px; /* Espaçamento interno */
        border: 1px solid #cfd8dc; /* Borda sutil para destaque */
        font-size: 16px; /* Tamanho da fonte ajustado */
    }
</style>
<body>
<div class="container mt-5">
    <h1 class="text-center">Controle de Vendas</h1>
    <div th:each="carrinho : ${carrinhos}">
        <h2>Carrinho ID: <span th:text="${carrinho.id}"></span></h2>
        <h4 th:if="${carrinho.cliente != null}">
            Nome do Cliente: <span th:text="${carrinho.cliente.nome}"></span>
        </h4>
        <h4 th:if="${carrinho.cliente != null}">
            Telefone: <span th:text="${carrinho.cliente.telefone}"></span>
        </h4>
            <div th:if="${carrinho.cliente != null}" class="endereco-box">
                <strong>Endereço:</strong> <span th:text="${carrinho.cliente.endereco.logradouro}"></span >
                <span th:text="${carrinho.cliente.endereco.bairro}" ></span>
                <span th:text="${carrinho.cliente.endereco.localidade}"></span>
                <span th:text="${carrinho.cliente.endereco.uf}"></span><br>
                <strong>Número: </strong><span th:text="${carrinho.cliente.endereco.numero}"></span>
                <strong>Complemento:</strong> <span th:text="${carrinho.cliente.endereco.complemento}"></span>
            </div>
        <h4> Data e hora da compra: <span th:text="${#temporals.format(carrinho.dataHoraCompra, 'dd/MM/yyyy HH:mm:ss')}"></span></h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${carrinho.itens}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.produto.nome}"></td>
                <td th:text="${item.quantidade}"></td>
                <td th:text="${item.produto.preco}"></td>
                <td th:text="${item.precoTotal}"></td>
            </tr>
        </table>
        <h4>Total do Carrinho: R$ <span th:text="${carrinho.totalCarrinho}"></span></h4>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>